<<<<<<< HEAD
<<<<<<< HEAD
@import "tailwindcss";
=======
/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
>>>>>>> d517592a8a6cc022f2d83ec9ca6d4d1b11855d92
=======
/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
>>>>>>> c7add7c1c8a5ab56c95ab1869a7c5d5e8a40a7c8
